{% for block in section.blocks %}
  {% if page.handle == block.settings.thepage_1 %}
<section class="HomeHeroscience">
  <style>
    #shopify-section-hero-image-generic .image__image .image {
      background-image: url({{block.settings.mobile_image_1 | img_url: 'master' }}) !important;
    }

    @media(min-width: 768px){
      #shopify-section-hero-image-generic .image__image .image {
        background-image: url({{block.settings.image_1 | img_url: 'master' }}) !important;
      }      
    }
  </style>
  <div class="inner content_width {{page.handle}}">
    <div class="image__image  sameheight">
        {% if block.settings.image_1 != blank %}
          <div class="image immm11"></div>
        {% else %}
          
        {% endif %}
    </div>

      <div class="image-with-text__text sameheight">
        <div class="inner">
          <div class="title-holder width___science1">
            {% if block.settings.subtitle != blank %}
              <h2>{{ block.settings.subtitle }}</h2>
            {% endif %}
            {% if block.settings.title != blank %}
              <h1>{{ block.settings.title }}</h1>
            {% endif %}
            {% if block.settings.text != blank %}
              {{ block.settings.text | replace: "†", "<sup>†</sup>" }}
           
            {% if page.handle =='circadian-science' %}
            <ul><li>{{block.settings.list1}}</li><li>{{block.settings.list2}}</li><li>{{block.settings.list3}}</li></ul>
            {% endif %}
            {% endif %}
          </div>
          {% if block.settings.button_label !=blank%}
          <div class="buttonn">
          	<a href="{{block.settings.button_link}}" class="button outline large">{{block.settings.button_label}}</a>
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</section>
{% endif %}
{% endfor %}



<style>
  .immm11{
    height:103% !important;
    
    
  }
  
  
</style>

{% schema %}
  {
    "name": "Science Hero Right Image",
    "presets": [
      {
        "name": "Press Items",
        "category": "Content"
      }
    ],
    "settings": [
	  
    ],
    "blocks": [
    {
    "type": "select",
    "name": "PAGE EXTRA FIELDS",
    "settings": [
    {
    "id": "thepage_1",
    "type": "page",
    "label": "ASSIGN PAGE FOR DATA"
    },{
        "type": "text",
        "id": "subtitle",
        "label": "Sub-Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, 
		{
        "type": "richtext",
        "id": "list1",
        "label": "List1",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, 
	{
        "type": "richtext",
        "id": "list2",
        "label": "List2",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, 
	{
        "type": "richtext",
        "id": "list3",
        "label": "List3",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, 
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image_1",
        "label": "Mobile Image"
      },{
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }]
    }
    ],
    "presets": [{
        "name": "Science Hero Right Image",
        "category": "Content"
    }]
  }
{% endschema %}