<div class="second-section" style=" margin-right:auto;margin-left:auto;width:80%;   margin-bottom: 80px;margin-top:-180px;">
  
  <div class="row11 image-with-text__text">
  
  <div class="column11 pad4 immg texttt"><h1 style="font-weight:600;font-family:'Khand';font-size:50px !important;text-align:center;">{{ section.settings.title | escape }}</h1>
     <h4 style="font-family:'Khand';font-size:28px !important;color:black;margin-top:5px;text-align:center;">{{ section.settings.title1 }}</h4>
<p class="p7" style="text-align:center;">   {{ section.settings.text }}
</p> <center><a href={{section.settings.button_url2}}><span class="button outline large" style="margin-bottom:40px;padding-left:40px;padding-right:40px;padding-top:8px;padding-bottom:5px;font-family:'Khand';font-size:20px !important;border-radius:5px;">
                {{ section.settings.button_label }}
         </span></a></center>
    </div>
    <div class="column11 what immg"> <img class="image-image1" src="https://cdn.shopify.com/s/files/1/0033/6474/9361/files/227363-V01-04-14-min.gif?v=1635535096" style="display:block;margin:auto;" width="90%" height="90%"></div>
</div>
  
</div>

<style>
  
 
  .what{
    
     margin-top: 15%;
  }
  .pad4{
   margin-top: 25%; 
    
  }
  .column11 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row11:after {
  content: "";
  display: table;
  clear: both;
}
  
  
  @media screen and (max-width: 600px) {
    .button{
     padding-left:20px !important;
      padding-right:20px !important;
      
    }
    
    .texttt{
     margin-top: 0%; 
      
    }
    
    
  .column11 {
    width: 100% !important;
  }
   
    .column11 p{
  text-align:center; 
   padding-left: 20px !important;
    padding-right: 20px !important;
    color: black;
   
 }
    .image-image1{
     height:100%;
      width:100%;
      
    }
    
}
  @media screen and (max-width: 900px){
    
  
  }
  
  
    @media screen and (max-width: 601px) {
            .immg {
    width: 100% !important;
            }}
  
 
    @media screen and (max-width: 1101px) {
      
        .immg {
    width: 100% !important;
  }
    }
 
 .column11 p{
  text-align:center; 
   padding-left: 70px;
    padding-right: 70px;
    color: black;
   
 }
  
  
  
</style>
{% schema %}
  {
    "name": "Image with text",
    "settings": [
{
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_url2",
        "label": "Button URL"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },{
        "type": "text",
        "id": "title1",
        "label": "Sub_Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}