<div id="content" role="main">
  {% section 'product_information-vanity' %}

  
  {% if product.tags contains 'buttonBClean' %}
  {% section 'icons-bright' %}
  {% section 'product-press-vanity' %}
  {% section 'image-text-brghtClean'%}
  {% section 'image_play_brightClean'%}
  {% section 'threecolumn_bright' %}
  {% section 'approved_brightClean' %}
  {% section 'approved2_brightClean' %}
  {% section 'approved3_brightClean' %}
  {% section 'collection-list' %}

  {%else%}
    {% section 'text-with-image-vanity3'%}
  {% section 'product-press-vanity' %}
  
  {% section 'matricscience' %}
   {% section 'text-with-image-vanity2'%}
    {% section 'vanity-product'%}
    {% section 'Text-with-image-vanity'%}
    {% section 'product-reviews' %}

  {%endif%}
 
</div>
<style>
  #smart-led-antimicrobial-bulb  #shopify-section-collection-list .inner{background:#f7f7f7;padding-top:20px;}
    #smart-led-antimicrobial-flood-bulb  #shopify-section-collection-list .inner{background:#f7f7f7;padding-top:20px;}
  #shopify-section-approved2_brightClean{margin-top:70px;}
  #shopify-section-approved3_brightClean{margin-top:70px;}
</style>

<!-- Copyright FeedArmy 2020 Version 2.37 -->
{% assign fa_current_variant = product.selected_or_first_available_variant %}
{%- assign fa_variant_count = product.variants | size -%}
{%- assign fa_count = 0 -%}
<script type="application/ld+json" data-creator_name="FeedArmy">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | strip_html | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.variants.first.sku != blank -%}
    "sku": "{{ product.variants.first.sku }}",
  {%- else -%}
    "sku": "{{ product.variants.first.id }}",
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 12 -%}
    "gtin12": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 13 -%}
    "gtin13": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 14 -%}
    "gtin14": {{ product.variants.first.barcode }},
  {%- endif -%}
    "productID": "{{ product.id }}",
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "description": {{ product.description | strip_html | json }},
  "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",

  {%- if product.variants -%}
  {%- assign fa_count = fa_count | plus: 1 -%}
    "offers": {% if product.variants.size > 1 %}[{% endif %}
      {
        "@type" : "Offer",
        "priceCurrency": "{{ cart.currency.iso_code }}",
        "price": "{{ fa_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
        "itemCondition" : "http://schema.org/NewCondition",
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "url" : "{{ shop.url }}{{ fa_current_variant.url }}",
            {%- if fa_current_variant.image -%}
              {% assign variant_image_size = fa_current_variant.image.width | append: 'x' %}
              "image": "https:{{ fa_current_variant.image.src | img_url: variant_image_size }}",
            {%- else -%}
              "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
            {%- endif -%}
            {%- if fa_current_variant.title != 'Default Title' -%}
              "name" : "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
            {%- else -%}
              "name" : "{{ product.title | strip_html | escape }}",
            {%- endif -%}
            {% if fa_current_variant.barcode.size == 12 %}
              "gtin12": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.barcode.size == 13 -%}
              "gtin13": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.barcode.size == 14 -%}
              "gtin14": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.sku != blank -%}
              "sku": "{{ fa_current_variant.sku }}",
            {%- else -%}
              "sku": "{{ fa_current_variant.id }}",
            {%- endif -%}
            {%- if product.description != blank -%}
            "description" : {{ product.description | strip_html | json }},
            {%- endif -%}
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
      }{%- if product.variants.size != 1 -%},{%- endif -%}
      {%- for variant in product.variants -%}
      {%- if variant != product.selected_or_first_available_variant -%}
      {%- assign fa_count = fa_count | plus: 1 -%}
        {
          "@type" : "Offer",
          "priceCurrency": "{{ cart.currency.iso_code }}",
          "price": "{{ variant.price | money_without_currency  | strip_html | remove: ',' }}",
          "itemCondition" : "http://schema.org/NewCondition",
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "url" : "{{ shop.url }}{{ variant.url }}",
              {%- if variant.image -%}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {%- else -%}
                "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {%- endif -%}
              {%- if variant.title != 'Default Title' -%}
                "name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",
              {%- else -%}
                "name" : "{{ product.title | strip_html | escape }}",
              {%- endif -%}
              {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.sku != blank -%}
                "sku": "{{ variant.sku }}",
              {%- else -%}
                "sku": "{{ variant.id }}",
              {%- endif -%}
              {%- if product.description != blank -%}
              "description" : {{ product.description | strip_html | json }},
              {%- endif -%}
              "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
          }
          {%- if fa_count < fa_variant_count -%}
         	{%- unless forloop.last -%},{%- endunless -%}
          {%- endif -%}
          {%- endif -%}
      {%- endfor -%}
    {%- if product.variants.size > 1 -%}],
      "additionalProperty": [{
        "@type": "PropertyValue",
        "propertyID": "item_group_id",
        "value": "{{ product.id }}"
      }]
      {%- endif -%}
    {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
    ,"aggregateRating": {
     "@type": "AggregateRating",
     "ratingValue": {{ product.metafields.yotpo.reviews_average }},
     "ratingCount": {{ product.metafields.yotpo.reviews_count }}
    }
    {%- endif -%}
  {%- endif -%}
}
</script>


<style>

    @media screen and (max-width: 900px){
    .ProductInfo .inner {
    position: relative;
    padding: 26px 26px 52px;
    margin: 0 auto;
      max-width:100%;
}
      
  
  }
  
    @media screen and (max-width: 800px){
    .ProductInfo .inner {
    position: relative;
    padding: 26px 26px 52px;
    margin: 0 auto;
      max-width:100%;
}
      
  
  }    @media screen and (max-width: 700px){
    .ProductInfo .inner {
    position: relative;
    padding: 26px 26px 52px;
    margin: 0 auto;
      max-width:100%;
}
      
  
  }
  .metricpage-width {
  
    margin: 40px auto;
}
  
  
  
</style>



<!-- Copyright FeedArmy 2020 Version 2.37 -->

{% include 'klaviyo-product-tracking' %}